@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/*-----container----------*/

.margen{
	padding-top: 15% !important;
}
/*-----modulos----------*/

.margenmod{
	margin-top: 20px!important;

}

.iconmargen{
	position: relative !important;
	left: 95%;
	top:20px;
}
.iconmargenevento{
	position: relative !important;
	left: 95%;
	top:25px;
}
